/* * {
  box-sizing: border-box;
} */

body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  font-family: 'Yeon Sung', cursive;
  font-weight: bold;
  background-color: #f5f5f5;
}

.container {
  padding: 5px;
}

.jumbotron {
  background: url(https://res.cloudinary.com/uncleteslim/image/upload/v1573746085/photo-1488240339625-c4014e114224_jqzw1q.jpg);
  background-size: cover;
  background-position: center;
}

nav {
  margin: 3px;
  font-family: 'Yeon Sung', cursive; ;
}

.box img{
  max-width: 225px;
  margin: 2px;
}


.navbar {
font-size: 17px;
}

#heading {
  text-align: center;
  font-family:'Crimson Text', serif;
  font-weight: bolder;
  color: white;
  font-size: 100px;
}


#intro {
  display: none;
  font-family: 'Barlow', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 25px;
  text-align: center;
}

img:hover {
  border: 0px solid #DDDDDD;
  padding: 0px;
  display: block;
  position: absolute;
  left: -40px;
  top: -25px;
  z-index: 500;
  background-color: #FFFFFF;
}

.Quotes {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 15px;
}

#slickquotes {
  width: 30%;
  float: left;
  text-align: center;
  font-size: 20px;
  font-family: 'Yeon Sung', cursive;
  color: black;
  font-size: 35px;
}


/* .one {
  width: 30%;
  float: left;
  text-align: center;
  font-size: 20px;
  font-family: 'Yeon Sung', cursive;
  color: white;
}
.two {
   width: 30%;
  float: left;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Yeon Sung', cursive;
  color: white;
}
.three {
   width: 30%;
  float: left;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Yeon Sung', cursive;
  color: white;
}
.four {
   width: 30%;
  float: left;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Yeon Sung', cursive;
  color: white;
}
.four {
   width: 30%;
  float: left;
  margin-left: 15px;
  text-align: center;
  font-size: 20px;
  font-family: 'Yeon Sung', cursive;
  color: white;
} */


@media (max-width: 576px) {
  .container {
    padding: 3px;
  }
}


@media (max-width: 576px) {
    #heading {
      font-size: 40px;
    }
    #intro {
      font-size: 20px;
      text-align: center;
    }
  
    .Quotes {
      margin-top: 5px;
      margin-bottom: 5px;
    }

    
  #slickquotes {
      font-size: 20px;
    }
}
